.git
.github
.agents
.opencode
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/.next*
**/dist
**/coverage
**/test-results
**/playwright-report
**/.turbo
apps/web/public/temp
data
**/data
*.log
.DS_Store
